body {
    margin: 0;
    padding: 0;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16;
    background-color: black;
    color: white;
}

/* XXXXXXXXXX           BODY            XXXXXXXXXX */

.container {
    display: flex;
    justify-content: space-between;

    padding: 0 4vw 0 4vw;
}

/* XXXXXXXXXX           GAME CANVAS            XXXXXXXXXX */

#canvas {
    /* padding-right: 5vw;*/
    /* border: 3px solid white; */
    margin: 0 3vw; 
}


/* XXXXXXXXXX       INFORMATION SECTION (RIGHT SIDE)      XXXXXXXXXX */

h1 {
    text-align: center;
    font-size: 3.5em;
    margin-top: 0;
    margin-bottom: 8vh;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.5em;
    text-align: center;
}


#information {
    width: 45vw;
    padding-top: 5vh;
    padding-left: 3vw;
    /* padding-right: 3vw;*/
    margin: 0 5vw; 
    /* border: white 3px solid; */
}

/* XXXXXXXXXX      UPPER -  INFORMATION SECTION (RIGHT SIDE)      XXXXXXXXXX */

.score-level {
    display: flex;
    padding-bottom: 5vh;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    align-items: flex-start
}

.level {
    text-align: right;
    width: 200px;
}

/* XXXXXXXXXX      LOWER -  INFORMATION SECTION (RIGHT SIDE)      XXXXXXXXXX */

.question {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 30vh;
    height: 30vh;
}



/* XXXXXXXXXX                   WELCOME SCREEN                      XXXXXXXXXX */

#intro-information {
    width: 400px;
    padding-top: 5vh;
    padding-left: 3vw;
    padding-right: 3vw;
    margin: 0 5vw;
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#intro-information h1 {
    margin-bottom: 3vh;
}

#intro-information h2 {
    text-align: center;
    font-size: 2.3em;

    margin: 0;
    padding: 0;
}

#intro-information p {
    text-align: center;

    margin: 1vh;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    height: 50px;
    width: 180px;

    font-size: 1.5em;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    color: black;
    background: white;

    outline: none;

    border: none;
    border-radius: 8px;

    margin: 3vh 3vw;
}

button:hover {
    text-decoration: none;
    color: white;
    background: black;

    outline: none;

    border: 3px solid white;

    transition: all 0.4s ease 0s;
}