body {
    margin: 0;
    padding: 0;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16;
    background-color: black;
    color: white;
}

/* XXXXXXXXXX           BODY            XXXXXXXXXX */

.container {
    display: flex;
    justify-content: space-between;

    padding: 0 4vw 0 4vw;
}

/* XXXXXXXXXX           GAME CANVAS            XXXXXXXXXX */

#canvas {
    /* padding-right: 5vw;*/
    /* border: 3px solid white; */
    margin: 0 3vw;
}


/* XXXXXXXXXX       INFORMATION SECTION (RIGHT SIDE)      XXXXXXXXXX */

h1 {
    text-align: center;
    font-size: 3.5em;
    margin-top: 0;
    margin-bottom: 4vh;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 2.4em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.5em;
    text-align: center;
}


#information {
    width: 45vw;
    padding-top: 5vh;
    padding-left: 3vw;
    margin: 0 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* XXXXXXXXXX      UPPER -  INFORMATION SECTION (RIGHT SIDE)      XXXXXXXXXX */


.level {
    text-align: center;
    font-size: 0.9em;

    margin: 1vh 0;
}

.score {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 3vh 0;
}

.total-score {
    display: flex;
    align-items: center;

    font-size: 1.8em;
    font-weight: bold;
    color: black;

    background-color: white;

    border-radius: 8px;

    padding: 3px 20px;
}


/* XXXXXXXXXX      LOWER -  INFORMATION SECTION (RIGHT SIDE)      XXXXXXXXXX */

.question {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question h2 {
    text-decoration: underline;

    margin: 3vh 0 0 0;
}

.question p {
    font-size: 1.8em;
    width: 20vw;
    line-height: 3.3vh;
}



img {
    width: 35vh;
    height: 35vh;
    margin: 2vh 0 12vh 0;
}



/* XXXXXXXXXX                   WELCOME SCREEN                      XXXXXXXXXX */

.container-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12vh 10vh;
}

.intro-title {
    margin-bottom: 7vh;
}

.information {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    text-align: center;

    margin-bottom: 3vh;
}

.intro {
    width: 20vw;
    padding: 0 5vw 0 10vw;
}

.intro h2 {
    height: 12vh;
}

.intro p {
    text-align: justify;
}

.how-to {
    width: 20vw;
    padding: 0 10vw 0 5vw;
}

.how-to h2 {
    height: 12vh;
}

.how-to p {
    text-align: justify;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    height: 50px;
    width: 180px;

    font-size: 1.5em;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    color: black;
    background: white;

    outline: none;

    border: none;
    border-radius: 8px;

    margin: 3vh 3vw;
}

button:hover {
    text-decoration: none;
    color: white;
    background: black;

    outline: none;

    border: 3px solid white;

    transition: all 0.4s ease 0s;
}